* {
    box-sizing: border-box !important;
}

html {
    font-size: 62.5% !important;
}

body {
    margin: 35px !important;
    color: white !important;
    background-image: url('../../images/img4.png') !important;
}

.header {
    position: relative !important;
}

.container3 {
    position: absolute !important;
    top: 4rem !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.am-box {
    display: inline-block !important;
    margin-right: 20rem !important;
}

.pm-box {
    display: inline-block !important;
}

.btn {
    width: 12rem !important;
    height: 4.5rem !important;
    background: transparent !important;
    font-size: 1.8rem !important;
    font-weight: 600 !important;
    letter-spacing: 0.3rem !important;
    cursor: pointer !important;
    z-index: 200 !important;
}

.btn-am {
    border: 3px solid #e9509d !important;
    color: #e9509d !important;
    transition: all 0.2s ease-in !important;
}

.btn-pm {
    border: 3px solid #ad25cf !important;
    color: #ad25cf !important;
    transition: all 0.2s ease-in !important;
}

.btn-am:hover {
    transform: translateY(-0.3rem) !important;
    box-shadow: 0 1.6rem 2rem -0.6rem #e9509d !important;
}

.btn-am:active {
    transform: translateY(0) !important;
}

.btn-pm:hover {
    transform: translateY(-0.3rem) !important;
    box-shadow: 0 1.6rem 2rem -0.6rem #ad25cf !important;
}

.btn-pm:active {
    transform: translateY(0) !important;
}

.jumbotron {
    position: relative !important;
    top: 40% !important;
    left: 50% !important;
    transform: translate(-50%, -30%) !important;
    width: 50rem !important;
    height: 20rem !important;
    padding: 5rem !important;
    text-align: center !important;
    border-radius: 5px !important;
    background: #4AC29A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white !important;
}

@media (max-width: 77rem) {
    .jumbotron {
        width: 40rem !important;
    }

    .container {
        width: 35rem !important;
    }
}

@media (max-width: 58rem) {
    .jumbotron {
        width: 30rem !important;
        height: 18rem !important;
    }
}

.btn-book {
    position: absolute !important;
    bottom: 2rem !important;
    right: 2rem !important;
    height: 4.5rem !important;
    width: 7rem !important;
    border-radius: 1rem !important;
    background-color: #e2e2e2 !important;

    font-size: 1.4rem !important;
    transition: all 0.2s ease-in !important;
}

.btn-book:hover {
    transform: translateY(-0.3rem) !important;
}

.btn-book:active {
    transform: translateY(0) !important;
}

@media (max-width: 88rem) {
    .am-box {
        margin-right: 8rem !important;
    }

    .pm-box {
        float: right !important;
    }
}

@media (max-width: 37rem) {
    .btn {
        border-radius: 50% !important;
        width: 8rem !important;
        height: 6rem !important;
        margin: 0 2rem 0 2rem !important;
    }

    .jumbotron {
        height: 15rem !important;
        width: 25rem !important;
        font-size: 1rem !important;
        padding: 3rem !important;
    }

    .time-box {
        display: inline-block !important;
    }

    .btn-book {
        position: absolute !important;
        left: 50% !important;
        bottom: 1rem !important;
        transform: translateX(-50%) !important;
        width: 6rem !important;
        font-size: 1.1rem !important;
        font-weight: 700 !important;
    }

    .btn-book:hover {
        transform: translateY(0) !important;
    }

    .btn-book:active {
        transform: translateY(0) !important;
    }
}